/*global*/
#brand{
    position: absolute;
    background: url("../res/logo-hz.svg");
    max-width: 200px;
    z-index: 2;
} 

.bg-image {
    position: absolute;
    background: black url("https://images.pexels.com/photos/1329061/pexels-photo-1329061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    filter: brightness(100%);
    z-index: -1;
}

ul {
    list-style-type: none;
}

li{
      margin-top: 10px;
}

body{
    font: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
}

footer{
    background: #191919;
    color: #828282;
    padding-top: 40px;
    line-height: 1.5em;
  
}

.navbar{
    background: #191919;
    border-bottom: #FDB302 4px solid;
}
.nav-item{
    margin: 0;
}

/*body*/
#body-section-landing{
    padding-top: 200px;
    padding-bottom: 100px;
    line-height: 2em;
}
#body-section-bidang{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2em;
    background: whitesmoke;

}

#body-section-about{
    padding-top: 60px;
    padding-bottom: 20px;
 
    line-height: 2em;
}

.featurette{
    padding-top: 20px;
    padding-bottom: 20px;
}

.company-name{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    border-left: 2px solid #FDB302;
    padding-left: 10px;
}

#body-section-porto{
    padding-top: 20px;
    padding-bottom: 20px;
 
    line-height: 2em;
}

.section-header{
    border-bottom: 3px solid #FDB302;
    padding-bottom: 4px;
};



.body-section-bidang-items-p{
    padding-top: 5px;

}

.featurette-heading{
    border-left: 2px solid #FDB302;
    padding-left: 10px;
}


/*footer*/
.footer-section{
    margin-top: 10px;
    padding-left: 55px;
    padding-right:55px;
}
#footer-section-about{
    line-height: 2em;
}
.footer-section-h5{
    color: #FDB302;
    margin-bottom: 1rem;
    
}

.contact-info{
    padding-left: 0;
}

.contacts-info-title{
    color: white
}

#footer-bottom{
    margin-top: 20px;
    background: #252525;
    padding: 1em 1em 0.5em 1em;
    font-size: 75%;
}


@media(max-width: 576px){
  .footer-section{
    margin-top: 10px;
    padding-left: 40px;
    padding-right:40px;
}

.body-section-bidang-items{
    padding-left: 40px;
    padding-right:40px;
}
}

