<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Karya Demangan Konstruksi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>


    <!-- ====== SECTION BIDANG ====== -->
    <section id="body-section-bidang">
        <div class="container">
            <h2 class="text-center"><span class="section-header">Bidang Usaha</span></h2>
            <br>
            <div class="row text-center">
                <div class="col-md-4 col-sm-4 body-section-bidang-items">
                    <img src="/res/bidang-generalconst.svg" style="max-width:85px" alt="">
                    <h4 class="body-section-bidang-h4"><br>General Contractor</h4>
                    <p class="body-section-bidang-items-p">Pemborongan Konstruksi seperti Jalan, Jembatan, Gedung,
                        Dermaga, Irigasi, Pabrik, Perumahan, Perkantoran, dan lainya.</p>
                </div>
                <div class="col-md-4 col-sm-4 body-section-bidang-items">
                    <img src="/res/bidang-supplier.svg" style="max-width:85px" alt="">
                    <h4 class="body-section-bidang-h4"><br>Supplier</h4>
                    <p class="body-section-bidang-items-p">Pengadaan Barang /Supplier seperti Pengadaan Tanah, Batu,
                        Pasir, Mekanikal, Elektrikal, dan lainya.</p>
                </div>
                <div class="col-md-4 col-sm-4 body-section-bidang-items">
                    <img src="/res/bidang-plantation.svg" style="max-width:85px" alt="">
                    <h4 class="body-section-bidang-h4"><br>Plantation</h4>
                    <p class="body-section-bidang-items-p">Plantation seperti Pembibitan, Penanaman, Perawatan tanaman
                        perkebunan, dan lainya. </p>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- ============================ -->

    <!-- ========== FOOTER ========== -->
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <!---  SECTION ABOUT --->
                <div class="col-md footer-section">
                    <section id="footer-section-about">
                        <p>
                            <img src="/res/logo-hz.svg" width="295px">
                        </p>
                        <p class="text">
                            PT. Karya Demang Konstruksi menjunjung tinggi profesionalisme dalam bekerja dengan
                            menerapkan
                            kemajuan teknologi dan teknik industri dengan tujuan memberikan pelayanan jasa konstruksi
                            yang bermutu, berkualitas, inovatif, dan handal.</p>

                    </section>
                </div>

                <!-- SECTION CONTACTS -->
                <div class="col-md footer-section">
                    <section id="footer-section-contacts">
                        <div class="footer-section-h5">
                            <h5>Kontak</h5>
                        </div>
                        <ul class="contact-info">
                            <li><span class="contacts-info-title">Telepon:</span><br>(0711) 446580</li>
                            <li><span class="contacts-info-title">Alamat:</span><br>Jl. Kancil Putih Raya No.4296 RT.35
                                RW.10 Kel. Demang Lebar Daun Kec. Ilir Barat, Palembang</li>
                            <li><span class="contacts-info-title">E-mail:</span><br>karyademangkonstruksi@yahoo.com</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div id="footer-bottom" class="text-center">
            <p>© PT. Karya Demang Konstruksi 2018. All rights reserved.</p>
        </div>
    </footer>
    <!-- ============================ -->

    <!-- ======== CDN SCRIPT ======== -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
    <!-- ============================ -->
</body>

</html>