/*global*/

html {
    overflow-x: hidden
    }
#brand{
    position: absolute;
    background: url("../res/logo-hz.svg");
    max-width: 200px;
    z-index: 2;
} 

.nav-item:hover{
    border-bottom: orangered 2px solid;
   
}

.bg-image {
    position: absolute;
    background: black url("https://images.pexels.com/photos/1329061/pexels-photo-1329061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    filter: brightness(100%);
    z-index: -1;
}

ul {
    list-style-type: none;
}

li{
      margin-top: 10px;
}

body{
    font: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
}

footer{
    background: #191919;
    color: #828282;
    padding-top: 40px;
    line-height: 1.5em;
  
}

.navbar{
    background: #191919;
    border-bottom: #FDB302 4px solid;
}
.nav-item{
    margin: 0;
}

/*body*/

.scroll-top {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: orangered;
    background: rgba(255, 74, 2, 0.7);
    border: 0;    
  }

  .scroll-top:focus{
    outline: #FDB302;
  }

  .scroll-top i {
    display: inline-block;
    color: #fff;
    font-size: 19px;
  }


.scroll-top:hover{
    background: orangered;
}

.scroll-top:hover i{
    top: 5px;
}

.wide{
    min-height: 100vh;
}

#body-section-landing{
    padding-top: 225px;
    padding-bottom: 120px;
    line-height: 2em;
}
#body-section-bidang{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2em;
    background: #191919;
    color: lightgray;
    border-bottom: #FDB302 4px solid;
    border-top: #FDB302 4px solid;
}

#body-section-bidang h4{
    color: orangered;

}

#body-section-about{
    padding-top: 60px;
    padding-bottom: 20px;
 
    line-height: 2em;
}

.featurette{
    padding-top: 20px;
    padding-bottom: 20px;
}

.company-name{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    border-left: 2px solid #FDB302;
    padding-left: 10px;
}

#body-section-porto{
    padding-top: 60px;
    padding-bottom: 20px;
    background: #FDB302;
    line-height: 2em;
    border-bottom: orangered 4px solid;
    border-top: orangered 4px solid;
}

.section-header{
    border-bottom: 3px solid orangered;
    padding-bottom: 4px;
};

.body-section-bidang-items-p{
    padding-top: 5px;

}

.featurette-heading{
    border-left: 2px solid #FDB302;
    padding-left: 10px;
}
 .lead-small{
     font-size: 1.175em;
 }

/*footer*/
.footer-section{
    margin-top: 10px;
    padding-left: 55px;
    padding-right:55px;
}
#footer-section-about{
    line-height: 2em;
}
.footer-section-h5{
    color: #FDB302;
    margin-bottom: 1rem;
    
}

.contact-info{
    padding-left: 0;
}

.contacts-info-title{
    color: white
}

#footer-bottom{
    margin-top: 20px;
    background: #252525;
    padding: 1em 1em 0.5em 1em;
    font-size: 75%;
}

.image-mv{
    overflow: hidden;
    margin-top: 20px;
}

table {
   max-width: 900px;
   margin-top: 10px;
   }
thead th {
    display: inline-block;
    max-width: 900px;
    color: orangered;
}
 .separator{
     margin: 10px;
 }


tbody {
    display: inline-block;
    height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.carousel{
    padding-top: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: transparent; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orangered; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red; 
  }

@media(max-width: 576px){
  .footer-section{
    margin-top: 10px;
    padding-left: 40px;
    padding-right:40px;
   
}
.body-section-bidang-items{
    padding-left: 40px;
    padding-right:40px;
}

.bg-image {
    position: right; 
}

}
